$darkest-green: #37554E;
$light-slate: #92AFAC;
$very-light-slate: #CBD3D2;
$dark-green: #6E8C87;
$brown: #5A574E;
$green: #87C9BB;

@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');


.jumbotron {
  height: 85vh;
  background-image:  linear-gradient(
						to right bottom,
						rgba($very-light-slate,0.6),
            rgba($light-slate, 0.6),
						rgba($green,0.6)),
						url('greenDoor1.jpg');
            background-size: cover;
            background-position: top;
            position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
            margin-top: 20px;
}

// .btn-success {
//   @include button-variant($green);
// }
.btn-success {
  background-color: $light-slate !important;
}
.btn-warning {
  background-color: $very-light-slate !important;
}
//
// .justify-content-center .dropdown-menu {
//   left: 50%;
//   transform: translateX(-40%);
// }

// .dropdown-link {
//   width: 100%;
//   text-align: center;
// }

// ul.dropdown-menu>li {
//     text-align: center;
// }

.dropdown {text-align:center;}
.button, .dropdown-menu {margin:10px auto}
.dropdown-menu {width:200px; left:50%; margin-left:-100px;}
