<div class="container">
  <div class="display-3 text-center">
    <%= @category.title %>
  </div>
  <hr>
  <!-- <div class="">
    <ul>
      <%# <% if @category.products.count !=0 %>
        <li>
          <%#= @category. %>
        </li>
      <%# end %> %>
    </ul>
  </div> -->

  <div class="">
    <%= link_to 'Edit', edit_category_path, class: 'btn btn-warning' %>
    <%= link_to 'Delete', category_path, method: :delete, data: {confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
