<div class="container">
  <div class="display-3 text-center">
    List of Suppliers
  </div>

  <div class="display-5 text-center">
    <ul class="cat-list">
      <% @suppliers.each do |supplier| %>
      <li>
          <%= link_to supplier.company_name, supplier_path(supplier), class: 'display-5' %>
      <% end %>
      </li>
    </ul>


  </div>
</div>
